* {
  font-family: Helvetica;
}

a {
  color: blue;
  font-weight: bold;
}

header {
  background: url("../img/pattern.jpeg");
  height: 120px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes h2 {

background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

/* Smartphone View */

@media(max-width: 768px) {
  body {
    display: block;
    width: 100%;
    text-align: center;
  }

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

  h1 {
    font-size: 3rem;
  }
}

/* Tablet View */

@media(max-width: 1200px) {
  body {
    display: block;
    width: 100%;
    text-align: center;
  }

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

  h1 {
    font-size: 3rem;
  }
}




